.spinner {
  font-family: monospace;
  display: inline-block;
  width: .5em;
  // hide while not spinning
  // visibility: hidden;
  // &.spin {
  //   visibility: visible;
  // }
  &::before {
    content: "\002f";
    vertical-align: middle;
  }
  &.spin::before {
    animation-name: spinnerspin;
    animation-duration: 250ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes spinnerspin {
  0% {
    content: "\005c";
  }
  25% {
    content: "\007c";
  }
  50% {
    content: "\002f";
  }
  75% {
    content: "\002d";
  }
}
